.foot{
    background-color: var(--purple);
    height: 13em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.footer-links{
    display: grid;
    grid-column: 1;
    margin: auto;
}

.rights{
    display: grid;
    grid-column: 2;
    margin: auto;
    color: var(--white-Purple);

}

.footer-links-title{
    color: var(--white-Purple);
    margin-bottom: 0.5em;
    font-weight: bolder;
}

.itenLink{
    margin-bottom: 0.2em;

}

.itenLink a{
    color: var(--white-Purple);

}

.footer-extra{
    display: grid;
    grid-column: 3;
    margin: auto;
    color: var(--white-Purple);

}

.footer-socials-list li{
    color: var(--black);
    margin-bottom: 0.5em;
    color: var(--white-Purple);
}

.footer-socials-list a{
    color: var(--white-Purple);

}
