.splash{
 margin: 0;
 padding-top: 0.5em;
 margin-bottom: 0;
 padding-bottom: 0;
}
.splashImage{
 width: 100%;
 height: 25em;
 margin-top: 0;
 margin-bottom: 0;
}

.splashLine{
 position: relative;
 bottom: 6em;
 background-color: rgba(162, 123, 184, 0.25);

}
.splashText{
 padding: 0.5em;
 font-size: 3em;
 font-family: 'Quantico', sans-serif;
 color: var(--white);
 text-align: center;
 opacity: 100%;!important;
}

.boxDivision{
 display: flex;
 flex-direction: row;
 margin-bottom: 0;
}

.middle{
 position: relative;
 bottom: 5em;
 display: flex;
 flex-direction: column;
 margin: 2em;
 margin-top: 0;
}

.posts{
 display: inline;
}

.postCard{
 display:flex;
 flex-direction: column;
 background-color: var(--white-Purple);
 margin-bottom: 2em;
 box-shadow:  0 5px 5px var(--purple);
}

.postCard-Img-I{
 height: 20em;
 object-fit: cover;
 width: 100%;
}

.postCard-Title{
 text-align: center;
  font-size: 2.5em;
 font-weight: bold;
 margin: 0.3em;
 margin-top: 0.1em;
 font-family: 'Quantico', sans-serif;
}

.postCard-Preview{
 margin-right: 1em;
 margin-left: 1em;
 margin-bottom: 1em;
 line-height: 1.5em;
}

.projects{
 display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

.projectCard{
 display:flex;
 width: 45%;
 flex-direction: column;
 background-color: var(--white-Purple);
 margin-bottom: 2em;
 box-shadow:  0 5px 5px var(--purple);
}

.projectCard-Img-I{
 height: 20em;
 object-fit: cover;
 width: 100%;
}

.projectCard-Title{
 text-align: center;
 font-size: 2.5em;
 font-weight: bold;
 margin: 0.3em;
 margin-top: 0.1em;
 font-family: 'Quantico', sans-serif;
}

.listAll{
 background-color: var(--white-Purple);
 padding: 1em;
 text-align: right;
 font-weight: bold;
 margin-bottom: 2em;
}

.aboutCard{
 position: relative;
 bottom: 5em;
 background-color: var(--white-Purple);
 padding: 1em;
 margin-left: 0;
 margin-right: 0.5em;
 line-height: 1.5em;
 height: 14em;


}



