:root{
    --white: #FAFAFA;
    --black: #130019;
    --white-Purple: #F4EEF6;
    --lavander: #A27BB8;
    --purple: #480661;
}

body{
    background-color: var(--white);
    font-family: 'Roboto Mono', monospace;

}

a{
    text-decoration: none;
    color: var(--purple);
}

.middle{
    margin-bottom: 5em;
    margin-top: 5em;
    margin-left: 5em;
    margin-right: 5em;
}

.btn{
    background-color: var(--purple);
    color: var(--white-Purple);
    height: 3em;
    width: 5em;
    border: none;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.btn:hover{
    background-color: var(--lavander);
    color: var(--purple);
    cursor: pointer;
}

.dontDisplay{
    display: none;
}

.display{
    display: inline;
}

.card{
    background-color: var(--white-Purple);
}

.new-title{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 3em;
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.boxDivision{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.middle{
    display: flex;
    flex-direction: column;
    margin: 2em;
    margin-top: 2em;
}

.posts{
    display: inline;
}

.postCard{
    display:flex;
    flex-direction: column;
    background-color: var(--white-Purple);
    margin-bottom: 2em;
    box-shadow:  0 5px 5px var(--purple);
}

.postCard-Img-I{
    height: 20em;
    object-fit: cover;
    width: 100%;
}

.postCard-Title{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0.3em;
    margin-top: 0.1em;
    font-family: 'Quantico', sans-serif;
}

.postCard-Preview{
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    line-height: 1.5em;
    font-family: Verdana;
}


